Flask==0.10.1
Flask-Testing==0.4.2
Jinja2==2.7.3
Markdown==2.4.1
MarkupSafe==0.23
Werkzeug==0.9.6
google-api-python-client==1.4.1
gunicorn==19.1.0
httmock==1.2.2
httplib2==0.9.1
itsdangerous==0.24
oauth2client==1.4.12
pyasn1==0.1.8
pyasn1-modules==0.0.7
requests==2.3.0
rsa==3.2
simplejson==3.8.0
six==1.9.0
uritemplate==0.6
wsgiref==0.1.2
