body {
  font-family: Helvetica;
}

label {
  font-size: 1.2em;
}

.issue {
  border: 1px solid black;
  margin-bottom: 5px;
}

.issue p,h4 {
  overflow: hidden;
}

.issue-labels {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.label-link {
  color: black;
}

.label-link:hover {
  text-decoration: none;
}