body {
  background-color: white;
}

.label {
  border: 1px solid #00a175;
  display: inline-block;
  background-color:#00a175;
  color: #fff;
  text-align: center;
  border-radius: .33em;
  margin: 5px;
  padding: 0 10px;
  font-family: Interstate, 'Gotham A', 'Gotham B', 'Open Sans Regular', Verdana, Helvetica, Arial;
  font-size:0.85em;
}
