<html>
<head>
  <title>Civic Issue Finder</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <div class='container-fluid'>
    <h2>Civic Issue Finder</h2>
    <h3>Am embeddable widget to find issues in Civic Technology projects on the <a href="http://codeforamerica.org/api" target="_blank">cfapi</a></h3>
    <br>
    <br>
    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
        <iframe src="/widget" width='300' height='500'></iframe>
      </div>
      <div class='col-md-4'>
        <h3>Embed this to your Brigade site:</h3>
        <ol>
          <li>
            If you want to filter by just an organization choose an organization. Leave blank to query all of the api. <br>
            <select name="organizations" id="organization">
              <option value="">---</option>
              {% for name in organization_names %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
          </li>
          <br>
          <li>
            If you want, enter a list of labels to always use when searching. <br>
            <input id="labels" type="text" name="labels" placeholder='help,hack,feature'>
          </li>
          <br>
          <li>
            Copy the following code somewhere in your website. <br>
            <textarea id="embed" rows='8' cols='40'>&lt;iframe src="http://civicissues.herokuapp.com/widget" width='300' height='600'&gt; &lt;&#47;iframe&gt;</textarea>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>