<html>
<head>
  <title>Civic Issue Finder</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4'>
        <h4>Civic Issue Finder</h4>
        <form class="form" role="search" action='/find' method='POST'>
          <label for='labels'>Enter a comma-separated list of labels</label>
          <div class="input-group">
            {% if labels %}
              <input type="text" class="form-control" name="labels" placeholder='feature,python,css' value="{{ labels }}">
            {% else %}
              <input type="text" class="form-control" name="labels" placeholder='feature,python,css'>
            {% endif %}
              <div class="input-group-btn">
                  <input type='submit' value='Submit' class='btn btn-default'>
              </div>
          </div>
          <input type='hidden' value='{{ org_name }}' name='org_name'>
          <input type='hidden' value='{{ default_labels }}' name='default_labels'>
        </form>
      </div>
    </div>
    {% if error %}
      <div class='row'>
        <div class='col-sm-4 com-sm-offset-4'>
          <h3>CFAPI is down. Please try again later.</h3>
        </div>
      </div>
    {% else %}
      {% if main %}
        <h4>Example response:</h4>
        <div class='row'>
          <div class="col-sm-4 col-sm-offset-4 issue">
            <h4 class='project-name'>
              <span class="octicon octicon-repo"></span>
              <a href="https://github.com/open-austin/austin-recycles">
                Project Name
              </a>
            </h4>
            <p class='project-description'>Project Description</p>
            <h4 class='issue-name'>
              <span class="octicon octicon-issue-opened"></span>
              <a href="https://github.com/open-austin/austin-recycles/issues/24">Issue body</a>
            </h4>
            <p class='issue-body'>Issue body</p>
            <div class="issue-labels">
                <div class="label" style="background-color: #fc2929">
                  <a href="https://api.github.com/repos/open-austin/austin-recycles/labels/bug" class="label-link">
                    label 1
                  </a>
                </div>
                &nbsp;
                <div class="label" style="background-color: #fef2c0">
                  <a href="https://api.github.com/repos/open-austin/austin-recycles/labels/hack" class="label-link">
                    label 2
                  </a>
                </div>
                &nbsp;
                  <br>
            </div>
          </div>
        </div>
      {% endif %}
      {% if issues != [] %}
        <div class='row'>
          {% for issue in issues %}
            <div class='col-sm-4 col-sm-offset-4 issue'>
              <h4 class='project-name'>
                <span class="octicon octicon-repo"></span>
                <a href="{{ issue.project.code_url }}">
                  {{ issue.project.name }}
                </a>
              </h4>
              <p class='project-description'>{{ issue.project.description }}</p>
              <h4 class='issue-name'>
                <span class="octicon octicon-issue-opened"></span>
                <a href="{{ issue.html_url }}">{{ issue.title }}</a>
              </h4>
              <p class='issue-body'>{{ issue.body }}</p>
              <div class='issue-labels'>
                {% for label in issue.labels %}
                  <div class='label' style='background-color: #{{ label.color }}'>
                    <a href="{{ label.url }}" class='label-link'>
                      {{ label.name }}
                    </a>
                  </div>
                  &nbsp;
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class='row'>
          <div class='col-sm-4 com-sm-offset-4'>
            <h3>No Issues for label.</h3>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</body>
</html>