<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Civic Tech Issue Finder</title>
    <link rel="stylesheet" type="text/css" href="https://cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />

    <!-- Check the CfA Style Guide at http://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="http://style.codeforamerica.org/1/style/css/prism.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="http://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="http://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="http://style.codeforamerica.org/1/style/css/layout.css" media="all">
    <![endif]-->

  </head>

  <body>
    <section>
      <div class="layout-breve">
        <ul class="list-no-bullets layout-grid">
          {% if error %}
            <div class='row'>
              <div class='col-sm-4 com-sm-offset-4'>
                <h3>CFAPI is down. Please try again later.</h3>
              </div>
            </div>
          {% elif issues %}
          {% for issue in issues %}
          <li class="layout-crotchet">
              <a href="{{ issue.html_url }}" class="billboard" target="_blank" onClick="ga('send', 'event', 'Civic Issues', 'click', '{{ issue.html_url }}', 1 );">
                  <p class="text-whisper">{{ issue.project.name }}</p>
                  <h3 class="billboard-label">{{ issue.title }}</h3>
                  <div class="labels">
                    {% for label in issue.labels %}
                      <div class="label">{{label.name}}</div>
                    {% endfor %}
                  </div>
                  <div class="contributors" style="margin-top:5px;">
                      {% for contributor in issue.project.github_details.contributors %}
                      {# We force width and height since the api doesn't always return size 40 #}
                      {# This should probably be in css, but it seems not all CSS is controlled in this repo #}
                      <img height="40" width="40" class="avatar" url="{{ contributor.avatar_url }}&s=40" style="border-radius: 5px;"/>
                      {% endfor %}
                  </div>
              </a>
          </li>
          {% endfor %}
          {% else %}
          <h3>No Issues for label.</h3>
          {% endif %}
        </ul>
      </div>
    </section>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-20825280-1', 'auto');

    // Dont send pageviews if tracking is false
    {% if (tracking_status != 'false') %}
      ga('send', 'pageview');
    {% endif %}

    document.addEventListener("DOMContentLoaded", function(event) {
      // Load the avatars
      var elems = document.getElementsByClassName("avatar");
      for(var i = 0; i < elems.length; ++i)
      {
        elems[i].setAttribute('src', elems[i].getAttribute('url'));
      }

      // Send view events for each issue shown
      var issues = document.querySelectorAll("a");
      Array.prototype.forEach.call(issues, function(el, i){
        link_and_referrer = el.href + ",{{ referrer }}"
        ga('send', 'event', 'Civic Issue View', 'view', link_and_referrer, 1 )
      });
    });

  </script>

</html>
